.main__chat__message
  .main__chat__message__info
    .main__chat__message__info__member
      = message.user.name
    .main__chat__message__info__datetime
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main__chat__message__text
    - if message.content.present?
      %p.main__chat__message__text__content
        = message.content
    = image_tag message.image.url, class: 'main__chat__message__image' if message.image.present?