* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 100vh;
}

.side__bar {
  background-color: #253141;
  width: 300px;
  &__header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__box {
      color: #ffffff;
      height: 20px;
      width: 260px;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
      &__user {
        line-height: 20px;
      }
      &__menu__box {
        width: 60px;
        .menu__box__btn {
          color: #ffffff;
          text-decoration: none;
          padding-left: 5px;
        }
      }
    }
  }
  &__group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.main__chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  &__header {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
  }
  &__message {
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
  }
  &__form {
    background-color: #d2d2d2;
    height: 90px;
  }
}